# dependencies
node_modules

# build artifacts
dist

# test artifacts
coverage

# Mac OS artifacts
.DS_Store

# misc
temp

# npm pack result
*.tgz
!tarballs/krutoo-ts-loader-0.0.0.tgz

# vscode
.vscode/settings.json