.callout {
  padding: 1.5rem 1.25rem;
  border-radius: 12px;
  background: #ecf0f1;
}

.danger {
  background: rgba(211, 53, 36, 0.2);
}

.callout .heading {
  margin-top: 0;
  margin-bottom: 0;
}

.heading + .main {
  margin-top: 0.75rem;
}

.callout .main > p {
  margin-top: 0;
  margin-bottom: 0;
}

.callout .main > p + p {
  margin-top: 1rem;
}
