.canvas {
  position: relative;
  overflow: hidden;
  background-image:
    linear-gradient(#bbb 1px, transparent 1px), linear-gradient(90deg, #bbb 1px, transparent 1px);
  background-size: 40px 40px;
  user-select: none;
  color: #333;
}

.dot {
  width: 12px;
  height: 12px;
  background: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
}

.label {
  position: absolute;
  top: 16px;
  left: 16px;
  white-space: nowrap;
  padding: 3px 5px;
  background: #fff;
  line-height: 1;
  border-radius: 4px;
}
